/* CIS 155 - PROJECT V1
NAME: MARK ITTI
DATE: 05/01/20
*/

/*STRUCTURAL STYLES*/

/*M2LO15 Apply colors using CSS (CSS, see 2-5 Working with Color in CSS)*/
/*M2LO12 Demonstrate how CSS can change presentation of page elements (CSS, these are styles that impact page elements rather than impacting text on the page)*/

html{
  background-color: #556B2F
}

text {
  font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION STYLE */

nav{
  background-color:#B8860B;
}

/* SECTION STYLE */

h1{
  color:#696969
}

footer {
  background-color: #B8860B;
}

