/* CIS 155 - PROJECT V1
NAME: MARK ITTI
DATE: 05/01/20
*/

/*STRUCTURAL STYLES*/

/*M2LO15 Apply colors using CSS (CSS, see 2-5 Working with Color in CSS)*/
/*M2LO12 Demonstrate how CSS can change presentation of page elements (CSS, these are styles that impact page elements rather than impacting text on the page)*/

html{
  background-color: #556B2F
}

text {
  font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

/* NAVIGATION STYLE */

nav {
  background-color: #B8860B;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B8860B;
}

li {
  float:left;
  text-align: center;
}

li a {
  display: block;
  color:#922B21;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* SECTION/DIV STYLE */

h1{
  color:#696969
}

/* M4LO5 Demonstrate the use of text or box shadowing (CSS, note one of these two in your CSS and explain its impact on the HTML) */

h2{
  color:#922B21;
  text-align: left;
  text-shadow: 2px 2px #696969;
}

h3{
border-bottom: 4px double #556B2F;
text-align: left;
color:#922B21;
}

* {
  box-sizing: border-box;
}

/* M4LO4 Demonstrate the use of gradients (CSS) */

div.menu {
  background-color: white;
  background-image: linear-gradient(white, gray);
}

div.column  {
  float: left;
  width: 33.33%;
  padding: 5px;
  height: relative;
}

/* M3LO3 Demonstrate a clearing floats (CSS, note where you have used a clear and what its impact is) clear both = no floating elements on either side */
div.row::after {
  content: "";
  clear: both;
  display: table;
}

/* M3LO8B Demonstrate relative positioning (CSS, note use in your CSS and describe what its impact is on the HTML)  */

div.education {
  position: relative;
  background-color: white;
  border: 2px solid #556B2F;
  height: 500px;
}

/* M3LO10 Demonstrate an overflow setting (CSS, note explicit use of an overflow setting in your CSS and what the impact is on the HTML) THIS MESSED IT UP KINDA. PROBABLY WILL TWEAK BUT JUST WANTED TO IMPLEMENT WITHIN CONTEXT OF MY PAGE */
/* M4LO2 Demonstrate the use of background images (CSS) */

div.recipes {
  background-image: url("recipebackground.jpg");
  width: 50%;
  overflow: scroll;
}

/* M3LO8A Demonstrate absolute positioning (CSS, note use in your CSS and describe what its impact is on the HTML) MAP INSIDE THE OVERALL BIG BOX */

div.map {
position: absolute;
top: 10px;
right: 5px;
border-radius: 4px;
}

/* FOOTER STYLE */

footer {
  background-color: #B8860B;
  padding:0px;
}

/* M3LO2 Demonstrate floating elements */
/* M3LO8A Demonstrate absolute positioning (CSS, note use in your CSS and describe what its impact is on the HTML) TRYING TO GET THE CARD IMAGE PERFECTLY IN THE FOOTER BOX, MIGHT NOT USE THIS LATER */
/* M3LO11 Demonstrate -prefix- style browser extensions use in CSS (CSS note the use in your CSS and what the purpose is) WEBKIT FILTER OPACITY */
/* M4LO3 Demonstrate the use of rounded corners for borders (CSS) */
/* M4LO6 Demonstrate the use of opacity/transparency for images (see 4.2) (CSS) */

footer > img {
  float: right;
  -webkit-filter: opacity(0.8);
  position: absolute;
  top: 670px;
  right: 0;
  height:110px;
  border-radius: 8px;
}